/* General styles for the entire about page */
.about-page {
    padding: 50px 0; /* Adjust padding as needed */
  }
  
  /* Styles for images to display centered */
  .centered-image {
    display: block;
    margin: 0 auto; /* Center align images */
  }
  
  /* Styles for sections */
  .hero-section,
  .story-section,
  .team-section,
  .ingredients-section {
    text-align: center; /* Center align text */
    padding: 50px 0; /* Adjust padding as needed */
  }
  
  /* Styles for titles */
  .hero-section h1,
  .story-section h2,
  .team-section h2,
  .ingredients-section h2 {
    font-size: 2.5rem; /* Adjust font size */
    color: #343a40; /* Dark text color */
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  /* Styles for paragraphs */
  .story-section p,
  .team-section p,
  .ingredients-section p {
    font-size: 1.2rem; /* Adjust font size */
    color: #6c757d; /* Medium gray text color */
    margin-bottom: 0; /* Remove default bottom margin */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .hero-section h1,
    .story-section h2,
    .team-section h2,
    .ingredients-section h2 {
      font-size: 2rem; /* Adjust font size */
    }
    
    .story-section p,
    .team-section p,
    .ingredients-section p {
      font-size: 1rem; /* Adjust font size */
    }
  }
  